div .info_title {
    background-color: #F3FDE8;
}

div .contact_title {
    background-size: 2rem;
    background-image: url(./bg-repeat_contact_title.png);
    background-repeat: repeat-x;
}

h1, h2, h3, h4 {
    font-size: 24px;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}

nav a, footer {
    background-color: #d4f2f4;
    color:  #0b0848;
}